{% load static %}
<html dir="rtl" lang="he">

<head>
    <title>מסך בחירת קורסים</title>

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="ClozeApp" />
    <meta property="og:image" content="{{ url }}/static/img/logo.png" />
    <meta property="og:title" content="ClozeApp" />
    <meta property="og:description" content="Spaced repetition system for course material" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:locale" content="he_IL" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="{% static 'js/dropdowns-enhancement.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}">


    <style>
        body {
            background: url("{% static 'img/1_no_text_boxes_final.png' %}");
            background-repeat: no-repeat;
            background-size:100%;
            background-size: cover;
        }

        ul li {
            font-size:20px;
            background-color:black;
            color:#FF6600;
        }

        .dropdown-menu {
            background-color:black;
            color:#FF6600;
        }

        h3 {
            color:#FF6600;
        }
    </style>
</head>
<body>

<img src="{% static 'img/header1.png' %}" width="600" style="padding-right: 10%; padding-top: 5%; padding-bottom: 5%;">

{% if course_list %}
    {% for course in course_list %}
        <dl class="dl-horizontal">
            <div class="btn-group" style="text-align: -webkit-center; display:block; color:#0000FF;">
              <div style="text-align: -webkit-center">
                <div data-toggle="dropdown" class="btn dropdown-toggle" style="color:#0000FF; vertical-align: middle">
                    <img src="{% static course.image.url %}" style="width: 25%; position: relative;"/>
                    <h3 style="font-size: 159%; color:#FF6600;  position: absolute; top: 25%; right: 47%;">{{ course.name }}</h3>
                </div>
                <ul class="dropdown-menu pull-center">
                    {% for deck in course.deck_set.all %}
                      {% if not forloop.first %}
                          <li class="divider"></li>
                      {% endif %}
                      <li class="text-right{% if not deck.card_set.all %} disabled {% endif %}">
                          <a href="{% url 'learn' deck.id %}"><h3>{{ deck.name }} ({{ deck.card_set.count }})</h3></a>
                      </li>
                      <!--(<a href="{% url 'insert' deck.id %}">הכנסת כרטיסיה חדשה</a>)-->
                    {% endfor %}
                </ul>
              </div>
            </div>
        </dl>
    {% endfor %}
{% else %}
    <p>לא נמצאו קורסים.</p>
{% endif %}

</body>
</html>
