{% load static %}

<html dir="rtl" lang="he">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'js/cloze_page.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/cloze_page_style.css' %}">
</head>
<body>

<section class="course-form">
	<span class="course-tag">שם הקורס:</span>
	<span class="course-entry">תכנות C </span>
	<span class="course-tag" style="margin-right:23%">שם השיעור: </span>
	<span class="course-entry">הצורך במצביעים </span>
 </section>

<section class="cloze-form">
<div>{{ card.name }}</div>
{% for chunk in card.textchunk_set.all %}
    {% if chunk.is_hidden %}
        <span id="{{ chunk.id }}" class="cloze-chunk">{{ chunk.text }}</span>
    {% else %}
        <span class="context">{{ chunk.text }}</span>
    {% endif %}
{% endfor %}
</section>

<nav>
<a class="btn btn-default"> דלג </a>
<a style="cursor: pointer" class="btn-lg btn-success" data-toggle="modal" data-target="#myModal" onclick="on_end_click()">סיימתי!</a>
<a href="{% url 'index' %}" class="btn btn-info">קורס אחר</a>
</nav>

 <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">   
      <!-- Modal content-->
      <div class="modal-content">
     
        <div class="modal-body">
			<span style="font-size:10">ציון המבחן: </span>
			<span id="myModal_grade"></span>
        </div>
        <div id="myModal_footer" class="modal-footer">
          <a href="{% url 'index' %}" class="btn btn-info">קורס אחר</a>
		  <a href="{% url 'learn' card.deck.id %}" class="btn-lg btn-success">יאללה עוד אחד!</a>
        </div>
      </div>
      
    </div>
 </div>



</body>
</html>